{% extends "base.html" %}
{% block content %}
<h1>添加商品</h1>
<br>
<h3>{{ branch }}</h3>
<p><a href="/">主页</a></p>
<p><a href="/addproduct/">添加</a></p>
<div id="sandbox-container">
	<div class="input-daterange input-group" id="datepicker">
    <input type="text" class="input-sm form-control" name="start" />
    <span class="input-group-addon">to</span>
    <input type="text" class="input-sm form-control" name="end" />
</div>
</div>
<div id="app">
	 <form action = "/uploader" method = "POST" 
         enctype = "multipart/form-data">
         <input type="hidden" name="marketId" value="{{ marketid }}" required />
         <input type = "file" name = "file" required />
         <input type = "submit"/>
      </form>
</div>
<div>
	{% for product in products %}
		<p>
			<img src="/static/images/{{ product.img }}" alt="">
		</p>
	{% endfor %}
</div>

<script>
	$('#sandbox-container .input-daterange').datepicker({
});
</script>
{% endblock %}