{% extends "base.html" %}
{% block content %}
<div id="app">
	<div class="row">  
           <div class="form-inline">  
               <h1>商品管理</h1>
               <h3>{{ branch }}</h3> 
           </div>  
	</div> 
<div class="row">
    <div class="col">
      <div id="sandbox-container" >
		  <div class="input-daterange input-group" id="datepicker">
		      <input id="startdate" type="text" class="input-sm form-control" name="start" />
		      <span class="input-group-addon">to</span>
		      <input id="enddate" type="text" class="input-sm form-control" name="end" />
		  </div>
		</div>
    </div>
    <div class="col">
      上/下架日期
    </div>
</div>
<div class="row">
	<div class="col">
		<div id="">
		   <form action = "/uploader" method = "POST" 
		         enctype = "multipart/form-data">
		         <input type="hidden" name="marketId" value="{{ marketid }}" />
             <input type="hidden" name="branchId" value="{{ branchId }}" />
		         <input type="file" name="file" required />
		         <input id="startDate" type="hidden" name="startdate" value="">
		         <input id="endDate" type="hidden" name="enddate" value="">
		         <input type="submit" value="添加" class="btn btn-success" />
		   </form>
		</div>
	</div>
	<div class="col">
		<button type="button" class="btn btn-danger" @click="deleteProduct">删除</button>
	</div>
</div>

<div>
  <form id="upload-form" action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data">
    <strong>Files:</strong><br>
    <input id="file-picker" type="file" name="file" accept="image/*" multiple><p>

    <div id="dropbox">
        Drag and Drop Files Here
    </div><p>

    <fieldset id="progress" style="display: none">
        <legend>Files Progress</legend>

        <div class="progress-trough">
            <div id="progress-bar" class="progress-bar">0%</div>
        </div>
    </fieldset><p>

    <input type="submit" value="Upload!" id="upload-button">
  </form>
</div>

	<h3 v-text="selectedId"></h3>
	<div class="container">
	    <div class="row imagetiles">
	    	{% for product in products %}
	    	<div class="col-lg-3 col-md-4 col-xs-6" id="{{ product.id }}"  @click="select">
	            <img src="/static/images/{{ product.img }}" class="img-fluid img-thumbnail">
	        </div>
			{% endfor %}
	    </div>
	</div>
</div>

<script>
    var app = new Vue({
    	el: '#app',
    	data: {
    		selectedId: '',
    		selected: false
    	},
    	methods: {
    		select: function (event) {
      		this.selectedId = event.currentTarget.id;
      		console.log(event.currentTarget.id);
        },
        deleteProduct: function(){
        	this.$http.post('/product/delete', {productId:this.selectedId}).then(response => {
        		alert('success');
        	}, response => {
        		alert('error');
        	});
        }
      }
    });

	$('#sandbox-container .input-daterange').datepicker({
		language: 'zh-CN'
	});

	$('#startdate').datepicker()
    .on('changeDate', function(e) {
    	$('#startDate').val(e.date.toUTCString());
        // console.log(e.date.toUTCString());// `e` here contains the extra attributes
     });

    $('#enddate').datepicker()
    .on('changeDate', function(e) {
        $('#endDate').val(e.date.toUTCString());// `e` here contains the extra attributes
     });

    // function deleteProduct(){
    //   $.post( "/delete", function( data ) {
    //     $( ".result" ).html( data );
    //   });
    // }
	// function showDate(){
	// 	window.alert($('#startdate').val());
	// 	window.alert($('#startdate').data('datepicker').getDate());
	// 	window.alert($('#enddate').data('datepicker').getUTCDate());
	// }

</script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/uploadr.js') }}"></script>
{% endblock %}